@import "~bootstrap/scss/bootstrap";
$c1:#1E3B64;
$c2:#10b7b1;
$c2:#FF7658;
$c3:#F4F4EF;
$bg-p-p : $c3;
$c-delete : $c2;
$c-update : $c3;
$c-new : $c1;
$t : rgba(193, 206, 236, 0.43);
$cfilter : $c2;

$fs_xsm: clamp(12px, 2.1vw, 14px);
$fs_sm: clamp(14px, 2.3vw, 16px);
$fs_md: clamp(16px, 2.4vw, 24px);
$fs_lg: clamp(20px, 3.2vw, 35px);
$fs_xlg: clamp(28px, 3.8vw, 39px);

.my_btn_1, .my_btn_2, .my_btn_3, .my_btn_4, .my_btn_5{
    text-decoration: none;
    font-weight:500;
    text-align: center;
    padding: .5rem 1.2rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: $fs_xsm;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.367);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.301);
    transition: all .2s ease-in-out;
    a, button{
        box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.277);
        color: $white;
        text-shadow: 0px 0px 4px rgba(220, 220, 220, 0);
    }
}
.my_btn_1{
    background-color: $c1;
    color: $c3;
    text-shadow: 1px 1px 4px rgba(181, 181, 181, 0.367);
}
.my_btn_2{
    background-color: $c2;
    color: $c3;
    text-shadow: 1px 1px 4px rgba(101, 181, 181, 0.367);
}
.my_btn_3{
    background-color: $c3;
    color: $c2;
    text-shadow: 1px 1px 4px #ff775877;
}
.my_btn_4{
    background-color: $c1;
    color: $c2;
    text-shadow: 1px 1px 4px #ff775877;
}
.my_btn_5{
    cursor: pointer;
    background-color: $c1;
    color: $c3;
    border: 2px solid $c3;
}
.my_btn_1:hover, .my_btn_2:hover, .my_btn_3:hover, .my_btn_4:hover, .my_btn_5:hover{
    transform: scale(0.98);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.147), 0 0 4px rgba(0, 0, 0, 0.345);
    transition: all .2s ease-in-out;
}

.nav{
    background-color: $c3!important;
    position: fixed;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    .mylinknav{
        font-size: $fs_sm;
        font-weight: light !important;
        color: $c1 !important;
        }
        .mylinknavs{
        font-size: $fs_md !important;
        }
}
.scale-none{
    h5{
        color: $c2 !important;
    }
}
.scale-none:hover{
    transform: scale(1) !important;
    transition: all .2s ease-in-out;
    opacity: .9;
    filter: invert(0) !important;
    h5{
        color: $c2 !important;
    }
}
.create{
    background-color: $c3;
    color: $c1 ;
    
}
.trash{
    background-color: $c2;
    color: $c3 ;
}
.search{
    background-color: $c1;
    color: $c2;
    svg{
        border-color: $c2;
        fill: $c2;
    }

}
.d{
    background-color: $c-delete;
}
.m{
    background-color: $c-update;
    color: $c2 !important;
    a, button{
        color: $c2 !important;

    }
}

.v{
    background-color: $c1;
    border: 2px solid $c2;
    color: $c2 !important;
}

.ell-c{
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width:clamp(60px,70vw, 300px);
    .ellips{
        max-width:clamp(60px,70vw, 300px);  
        $white-space: nowrap;  
    }
}   


.c-white {
    color: $c3 !important;
}

body{
    background-color: $c1;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    height: 100%;
    padding-bottom: 100%;
    color: $c3;
}

.dash-c{
    .plus{
        background-color: $c1;
        height: 27px;
        width: 40px;
        border-radius: 7px;
        position: relative;
        .line{
            
            background-color: $c3;
            height: 50%;
            width: 3px;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .l2{
            transform: translate(-50%, -50%) rotateZ(90deg);
        }
    }
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    .top-c, .bottom-c{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 1.5rem;
        .prod, .result-bar, .delivery-c{
            a{
                color: $c3;
                text-decoration: none;
                h3{
                    color: $c1;
                }
            }
            flex-grow: 1;
            padding: 1.6rem 10px;
            background-color: $c2;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: .9rem;
            border-radius: 20px;
            .top-p{
                display: flex;
                justify-content: space-between;
                gap: 4px;
                width: 100%;
            }
            .stat-p{
                width: 100%;
                //flex-grow: ;
                padding: 8px;
                border-radius: 10px;
                background-color: $c3;
                color: $c1;
                display: grid;
                row-gap: .5rem;
                column-gap: 1.5rem;
                grid-template-columns: 1fr 1fr;
                .stat{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 4px;
                }
            }
            .action{
                width: 100%;
                display: flex;
                gap: 5px;
                justify-content: space-between;
                .my_btn_1{
                    flex-grow: 1;
                }
            }
        }
        .right-t{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .result-bar{
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                .stat{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
            }
            .delivery-c{
                flex-grow: 1;
                background-color: $c3;
                color: $c1;
                .stat-p{
                    background-color: $c2;
                    color: $c3;
                    flex-wrap: nowrap !important;
                    justify-content: space-around;
                    display: flex;
                    
                }
            }
        }
        

    }
    .bottom-c{
        align-items: stretch;
        .date{
            flex-shrink: 0;
            color: $c3;
            flex-grow: 3;
            flex-shrink: 1;
            .date-off{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: $c2;
                    text-decoration: none;
                }
            }
        }
        .setting{
            
            flex-shrink: 3;
            padding: 1.6rem ;
            border-radius: 20px;
            text-align: center;
            background-color: $c3;
            color: $c1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1.5rem;
            .top-set{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .bottom-set{
                h4{
                    color: $c1;
                    button{
                        font-size: clamp(15px, 2.7vw, 17px);

                        color: $c1;
                    }
                }
                border-radius: 20px;
                overflow: hidden;
                .activity-day{
                    label{
                        min-width: 80px;
                        width: 35%;
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
                .address{
                    display: flex;
                    gap: 2px;
                    flex-wrap: wrap;
                    span{
                        flex-grow: 1;
                        background-color: $c1;
                        padding: .4em 1em;
                        border-radius: 7px;
                        color: $c2;
                    }
                }
                .actions{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 4px;
                    margin: 13px 0;
                }
            }
            .set{
                display: flex;
                gap: 8px;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .radio-inputs{
                    width: 72%;
                    
                }
                .sets{
                    width: 72%;
                    
                    .radio-inputs{
                        margin-bottom: 4px;
                        width: 100%;
    
                    }
                    .input-group{
                       // width: 80%;
                        label{
                            background-color: $c2 !important;
                            color: $c3;
                            border:  2px solid $c2;
                        }
                        input{
                            color: $c1;
                            border:  2px solid $c2;
                        }
                    }
                }
            }
            
        }
        
    }
    
}
@media (max-width: 1000px) {
    .dash-c{
        .top-c, .bottom-c{
            flex-wrap: wrap;       
        }
        .setting{
            width: 100%;
            
        }
        .stat{
            flex-direction: column;
        }
        .top-set{
            gap: 2rem !important;
        }
        .set{
            flex-direction: column;
            
            .radio-inputs, .sets{
                width: 100% !important;
            }
        }
    }
}


.error{
    color: rgba(249, 194, 194, 0.936);
    padding: .5rem ;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.699);
}

.mybtdb {
    font-size: 25px;
    padding: 5px 20px;
    border-radius: 11px;
}

.day_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3rem;
    align-items: center;
    input, label{
        width: calc(50% - 1rem)!important;
        flex-grow: 1;
    }
}
.my{
    text-align: center;
    text-transform: capitalize;
}
.carousel-indicators{
    padding: 0 15px;
    button{

       // background-color:  $c1 !important;
    }
    background-color:  $c2 !important;
    border-radius: 20px;
}

.lez-c{
    padding: 0 15px;
    height: 30px;
    width: 13px;
    position: relative;
    display: flex;
    align-items: center;
    .line{
        background-color: $c1;
        height: 13px;
        width: 2px;
        position: absolute;
        transform:translate(50%, 50%) rotateZ(45deg);
        border-radius: 2px;
    }
    .l2{
        height: 13px;
        transform:translate(50%, -11%) rotateZ(-45deg);
    }
}
.prev{
    transform: rotateY(180deg);

}
.carousel-inner{
    display: flex;
    align-items: stretch !important;
    gap: 10px;
    
}
.calendar-c{
    .date-set{
        top: 0px;
        right: 7%;
        position: absolute;
        color: $c3;
        svg{
            height: 27px;
            width: 27px;
        }
    }
    //margin: 3rem 0;
    width: 100%;
    //height: 100%;
    background-color: $c3;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    .c-name{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
        margin:  auto;
        padding: 15px 7.2% ;
        width: 100%;
        max-width: 100%;
        color: $c3;
        background-color:  $c2 !important;
        border-radius: 17px;
        h4{
            overflow: hidden; 
            text-overflow: ellipsis;
            
            width: clamp(20px, 10%, 70px);
            font-size: clamp(10px, 100%, 20px);
            font-weight: lighter;
        }
    }
    .calendar{
        text-align: center;
        display: grid;
        padding: 3rem 6.6% 4rem;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
        gap: .4rem;
        width: 100%;
    
        .day{
            color: $c3;
            background-color: $c1;
            text-decoration: none;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            border-radius: 10px;
            position: relative;
            .b{
                background: none;
                border: none;
                padding: 0;
                font-size: clamp(14px , 2.1vw, 20px);
                color: $c3;
                font-weight: lighter;
            }
            p{
                display: flex;
                position: absolute;
                font-size: clamp(5px , 80% , 12px);
                //background-color: black;
                //color: $white;
                border-radius: 100px;
                width: 30%;
                justify-content: center;
                align-items: center;
                gap: 3px;
                margin: 2px;
                svg{
                    width: 20px;
                }
            }
            .pop1{
                top: 0;
                left: 0;
            }
            .pop2{
                top: 0;
                right: 0;
            }
            .pop3{
                bottom: 0;
                left: 0;
            }
        }
        .day-off{
            opacity: .4;
        }
        .day-active{
            background-color: $c2;
            .b{
                font-weight: bold;
            }
        }
    }
}


//****************** new css *************

// *{
//     //transition: opacity .2s ease-out;
// }





.top-bar-product{
    color: $c3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.195);
    padding: 1.5rem;
    background-color: $cfilter;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    .bar{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        gap: 1rem;
        div{
            display: flex;
            flex-direction: column;
            gap: .4rem;
        }
        label{
            margin: 0;
        }
        input, select{
            border-radius: 10px;
            height: 30px;
            border: none;
            background-color: #f4f4ef8a;
            color: $c3;
            transition: all .2s ease-in;
            padding-inline: 14px;
            appearance: none;
        }
        input:hover, select:hover{
            opacity: 1;
            transition: all .2s ease-in;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(100%);
            scale: 1.2;
        }
        .s-name{
            flex-wrap: wrap;
            label{
                width: 100%;
            }
            div{
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1rem;
            }
        }
    }
    .buttons{
        margin-left: auto;
        display: flex;
        gap: 1rem;
        flex-direction: row !important;
        justify-content: center;
        align-items: stretch;
    }
}
.action-page{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: .2rem;
}

.object-container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    .obj{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //align-items: flex-end;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 1rem;
        h3{
            text-align: left;
            
            a{
                text-decoration: none;
                color: $c3;
            }
        }
        .card_{
            color: $c1 ;
            border-radius: 20px;
            background-color: $bg-p-p;
            padding: .8rem;
            display: flex !important;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 1.2rem;
            flex-grow: 1;
            //width: auto;
            img{
                border-radius: 18px;
                width: clamp(100px, 100%, 160px);
                aspect-ratio: 1;
                object-fit: cover;
                background-position: center;
                box-shadow: 0px 0px 2px black;
                background-color: rgba(219, 219, 219, 0.477);
            }
            .info{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: .8rem;
                section{
                    p{
                        ///flex: 1 1 auto;
                        max-width: 170px;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                }
                .split_i{
                    display: flex;
                    justify-content: space-between;
                    .price{
                        font-size: clamp(17px, 3.1vw, 23px);
                        font-weight: bolder ;
                    }
                }
            }
        }
    }
    .actions, .allergiens{
        align-self: flex-end;
        max-width: 270px;
        display: flex;
        justify-content: flex-end;
        gap: .8rem;
        flex-wrap: wrap;
        form{
            height: 100%;
            button{
                height: 100%;
            }
        }
        img{
            border-radius: 100%;
            aspect-ratio: 1;
            width: 30px;
            box-shadow: 0px 0px 2px black;
        }
        div, a, button{
            box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.277);
            color: $white;
            text-shadow: 0px 0px 6px rgb(220, 220, 220);
        }
       
    }
    
    
}

.slim_cont{
    display: flex;
    gap: 1.1rem;
    flex-wrap: wrap;
    //align-items: flex-start;
    
}

.slim_{
    flex-grow: 1;
    width: calc(33% - 2rem);
    padding: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: $c3;
    gap: 1rem;
    a{
        color: $c1;
        text-decoration: none;
        font-size: clamp(13px, 2.2vw, 22px);
    }
    h3{
        flex-shrink: 1;
        line-height: 90% !important;
        color: $c1;
    }
    img{
        background-color: #FF7658;
        flex-shrink: 0;
        width: clamp(30px, 100%, 40px);
        border-radius: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border: .5px solid black;
    }
    section{
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 1rem;
        .price{
            font-size:clamp(17px, 3vw, 23px) ;
            font-weight: bolder;
            color: $c2; 
        }
        .actions{
            display: flex;
            gap: 4px;
            form, a{
                text-decoration: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 27px;
                width: 27px;
            }
            svg{
                margin-top: auto;
                height: 100%;
                width: 27px;
                fill: $c3; 
                border-radius: 4px;
                padding: 6px;
                background-color: $c1;
                display: block;
            }
            .s_d{
                display: block;
                border: none;
                padding: 0;
                color: $c2; 
                height: 100%;
                width: 27px;
                svg{
                    background-color: $c2;
                    fill: $c3; 
                    height: 100%;
                    width: 27px;
                }
            }
        }
    }
    .s1{
        align-items: flex-start !important;
        text-align: end;
    }
}

.archived{
    //background-color: rgba(150, 6, 6, 0.243);
    //background-image: linear-gradient(to right, #e3251344 0%, #ec8c69 100%);
    padding: 1rem;
    border-radius: 20px;
   
}
.not_v{
    .card_, h3, .allergiens{
        opacity: .5;
    }
        
}
.show_p{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.2rem;
    background-color: $bg-p-p;
    border-radius: 20px;
    color: $c1;
    h2{
        font-weight: bolder;
        text-transform: capitalize;
        font-size: clamp(20px, 4.5vw, 42px) !important;
    }
    .split_p{
        
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        //flex-wrap: wrap;
        .image_p{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1.8rem;
            flex-grow: 1;
            
            flex-shrink: 1;
            position: relative;
            .logo_{
                border-radius: 23px;
                background-color: $c-update;
                width: 100%;
                aspect-ratio: 1.5;
                object-fit: cover;
                max-width: 650px;
            }
            .allergiens{
                max-width: 350px;
                width: 100%;
                display: flex;
                gap: .7rem;
                align-self: flex-start;
                flex-wrap: wrap;
                img{
                    padding: 5px;
                    border: black solid 1px;
                    background-color: $white;
                    width: 40px;
                    border-radius: 100% ;
                    aspect-ratio: 1;
                }
                justify-content: flex-start !important;
            }
        }
        
        .info{
            flex-grow: 1;
            max-width: 50%;
            section{
                margin-bottom: 10px;
                h4{
                    font-size: clamp(18px, 3.5vw, 30px) !important;
                    font-weight: bold;
                    
                }
                p{
                    display: flex;
                    text-transform: capitalize;
                    font-size: clamp(15px, 2.5vw, 25px) !important;
                }
            }
        }
    }
    .price{
        font-size: clamp(20px, 3.4vw, 30px);
        font-weight: bolder;
        align-self: flex-end;
    }
    .prod-spec{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        
        .set_plate, .actions{
            align-items: center;
            display: flex;
            gap: 1rem;
            
        }
        
        .set_plate{
            justify-content:flex-start;
            gap: 3rem;
            p{
                
                margin: 0 !important;
            }
            .title, .res{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: .6rem;
            }
            .title{
                
                font-size: clamp(18px, 3.5vw, 30px) !important;
            }
            .res{
                font-size: clamp(15px, 2.5vw, 25px) !important;            
                flex-grow: 1;
            }
        }
    }

}

.creation{
    input::placeholder {
        color: #f4f4ef52; /* Cambia questo colore a tuo piacimento */
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .label_c{
        margin-bottom: 8px;
        font-weight: bolder;
    }
    section{
        background: #ff77589d;
        //background: linear-gradient(-15deg, $c1 , $c2);
        width: 100%;
        padding: 1rem;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $c3;
        input, select{
            flex-grow: 1;
            background-color: rgba(255, 255, 255, 0.363);
            border: none;
            border-radius: 10px;
            height: 40px;
            padding: 10px;
            color: $c3;
            transition: all .3s ease-in-out;
            appearance: none;
        }
        select{
            text-align: center;
        }
        input:focus, select:focus, textarea:focus{
            border: 2px solid $c3;
            box-shadow: 0 0 3px $c2;
            outline: none;
            transition: all .3s ease-in-out;
        }
        input:hover, select:hover, textarea:hover{
            background-color: $c3;
            color: $c2;
            transition: all .3s ease-in-out;
        }
        #file-input, #file-input1 {
            padding: 2px;
            width: 100%;  
        }
        #file-input::file-selector-button , 
        #file-input1::file-selector-button {
            border: none;
            background: rgba(255, 255, 255, 0.453);
            height: 100%;
            padding: 5px 10px;
            border-radius: 7px;
            color: $c2;
            cursor: pointer;
            transition: background .2s ease-in-out;
        }
        #file-input::file-selector-button:hover, 
        #file-input1::file-selector-button:hover {
            background: $c2;
            color: $c3;
        }
        .split, .split-3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            div{
                width: calc(50% - 1.2rem);
                p{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;

                }
            }
         
        }
        .split-3{
            flex-wrap: wrap;
            gap: .5rem;
            justify-content: space-around;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: .5rem;
                width: auto;
                input, select{
                    flex-shrink: 1 !important;
                }
            }
        }
        textarea{
            border: none;
            border-radius: 10px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.363);
            color: $c3;

        }
        label{
            text-transform: capitalize;
            font-size: clamp(16px, 2.7vw, 20px);
        }
        .desc{
            display: flex;
            flex-direction: column;
            gap: .5rem;

        }

    }
    .check_c{
        p{
            display: flex;
            flex-wrap: wrap;
            gap: .4rem;
            label{
                margin-bottom: 0;
                font-size: clamp(14px, 2.2vw, 16px);
            }
        }
    }
}


//-index order
.or-res-cont{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.or-res{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $c3;
    border-radius: 16px;
    padding: .2rem 10px;
    margin-bottom: 1rem;
    background-color: #d1d1d131;
    .top{
        border-bottom: 1px $c3 dotted;
    }
    section{
        padding: 1rem 1.2rem;
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        h3,h4,h1{
            margin: 0 !important;
        }
        .name{
            display: flex;
            justify-content: space-between !important;
            align-items: center;
            flex: 1 1 auto;
            flex-wrap: wrap;
            h3,h4{
                flex: 0 1 auto;
            }
        }
        .p{
            flex-grow: 1;
        }
        .actions{
            max-width: 300px;
            width: 30%;
            flex: 1 0 auto;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            div, a{
                flex-grow: 1;
                width: 50%
            }
        }
    }
}
.my_1{
    background-color: #2a71dcb6;
}
.my_2{
    background-color: #a8adb3ad;
}
.my_0{
    background-color: #be2a2aa3;

}
@media (max-width:992px) {
    .or-res{
        section{
            justify-content: space-between !important;
            flex-direction: column !important;
            .name, .actions{
                flex-grow: 1;
                width: 100%;
                gap: 8px;
            }
            .actions{
                width: 100%;
            }
        }
    }
    
}
//-show order
.myres-c {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .el {
        background-color: #0b234487;
    }
    .co {
        background-color: #31d7375a;
    }
    .an {
        background-color: $c2;
    }
    .myres {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: solid 0.1px rgba(0, 0, 0, 0.286);
        border-radius: 10px;
        .mail-tel {
            border-bottom: 2px solid $c3;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            div {
                border: 2px solid $c3;
                margin: 10px;
                border-radius: 8px;

                padding: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .body {
            display: flex;
            justify-content: space-between;
            section {
                width: 30%;
                padding: 10px;
                display: flex;
                flex-direction: column;

                align-items: center;
                gap: 10px;
            }
            .myres-left {
                margin-top: 20px;
                text-align: center;
                font-size: clamp(17px, 1.7vw, 23px);
                .myres-left-c {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    .time {
                        font-size: clamp(23px, 3vw, 35px);
                        font-weight: bolder;
                    }
                    .day_w {
                        font-style: italic;
                        text-transform: lowercase;
                    }
                }
                .c_a {
                    font-style: italic;
                    font-size: 17px;
                }
            }
            .myres-center {
                width: 40%;
                .product {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 5px;
                    width: 100%;
                    padding: 5px;
                    border: 1px solid $c3;
                    .counter,
                    .name {
                        font-size: 20px;
                        font-weight: bolder;
                    }
                    .name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .variations {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        .bottom-var{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                        }
                        .add,
                        .removed {
                            padding: .4rem;
                            width: 45%;
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                            
                            
                            align-items: flex-start;
                        }
                        .options {
                            text-align: left;
                            padding: .4rem;
                            width: auto;
                            margin: 0 auto;
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                            align-items: flex-start;
                        }
                    }
                }
                .t_price {
                    align-self: flex-end;
                    font-size: clamp(20px, 3vw, 30px);
                    font-weight: bolder;
                }
            }
            .myres-center-res {
                h4 {
                    font-weight: bolder;
                    font-size: clamp(29px, 4vw, 485px);
                }
            }
            .myres-right {
                margin-top: 20px;
                button {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.431);
                }
            }
        }
        .visible {
            text-align: center;
            span {
                font-size: 19px;
            }
        }
    }
}


//-- end
@media (max-width: 550px) {
    
    .split{
        div{
            width: 100% !important;
        }
    }
    .split-3{
        flex-direction: column;
        div{
            flex-grow: 1;
            width: 100% !important;
            input, select{
                flex-grow: 1;
                width: 100% !important;
            }
        }
    }
    .show_p{
        padding: 1.5rem;
        .split_p{
            flex-wrap: wrap;
        }
        .info{
            max-width: 100% !important ;
        }
        .actions{
            width: 100% !important;
            flex-grow: 1;
            align-items: flex-end !important;
            flex-wrap: wrap;
        }

    }
    .slim_cont{
        .slim_{
            
            width: calc(50% - 1.2rem) !important;
        }
        img{
            width: 28px !important;
        }
        h3{

            a{
                line-height: 70% !important;
                font-size: 12px;
            }
        }
        gap: 1.2rem !important;
    }
    .day_form{
        label{
            width:90%!important;
            flex-grow: 1;
        }
    }
    .calendar{
        gap: 3px !important;
    }
    .c-name{

        h4{
            overflow: hidden; 
            text-overflow: ellipsis;
            max-width: 30px;
        }
    }
    .day{
        border-radius: 5px !important;
        p{

            svg{
                display: none;
            }
        }
    }
}
.slim_time{
    width: auto !important;
    color: $c1;
}





//// uivers select
 .radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: $c2;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: $c3;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: $c3;
  color: $c1;
  font-weight: 600;
}
//// uivers select end
.data_set{

    .modal-header{
        h1{
            font-size: clamp(17px, 3.1vw, 23px);
        }
    }
   .data_set_body{
       display: flex;
       flex-direction: column;
       gap: 1rem;
       section{
           background-color: $c1;
           color: $c3;
           width: 100%;
           align-items: flex-start;
           display: flex;
           flex-direction: column;
           padding: 1.2rem;
           border-radius: 11px;
           h3{
               color: $c3;
           }
           .cont{
               display: flex;
               //justify-content: space-between;
               align-items: self-start;
               gap: 1rem;
               flex-wrap: wrap;
               .not-set{
                   color: $c1;
                   background-color: $c3 !important;
                   
                }
                .set,.not-set{
                    flex: 1 1 40%;
                    padding: 2px 15px;
                    border-radius: 40px;
                    background-color: $c2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: .4rem;
                    h5{
                        white-space: nowrap;
                        margin: 0;
                    }
                    input,select{
                        background-color: rgba(255, 255, 255, 0);
                        color: $c3;
                        font-size: 20px;
                        border: none;
                        max-width: 40px;
                        text-align: center;
                    }
                    select{
                        font-size: 12px;

                    }
                    span{
                        font-size: 16px;

                   }
               }
           }
       }
   }
}
/// date setting