@import "~bootstrap/scss/bootstrap";

.bs {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.519);
}
.ts {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.62);
}


.mycDash {
    display: flex;
    flex-direction: column;
    gap: 10px;
    section {
        display: flex;
        gap: 10px;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        flex: 8 1 auto;
        //background-color: #78b1d5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        gap: 4px;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease-in-out;
        font-size: clamp(20px, 2.7vw, 26px);
        text-transform: uppercase;
        font-weight: bold;
        svg{
            transition: all 0.3s ease-in-out;

        }
    }

    .small {
        width: clamp(70px, 10%, 150px) !important;
        flex-grow: 0;
        //width: auto !important;
        aspect-ratio: 1;
    }
}
@media (min-width: 950px) {
    .mycDash {
        a:hover {
            font-size: 29px;
            transition: all 0.3s ease-in-out;
            opacity: 0.7;
            gap: 10px;
            svg{
                transition: all 0.3s ease-in-out;
                scale: 1.4;
            }
        }
        a{
        }
    }
}
.s1a {
    background-color: rgb(130, 125, 149, 0.788) !important;
}
.s1b {
    background-color: rgb(3, 46, 187, 0.788) !important;
}
.s2a {
    background-color: rgb(52, 53, 87, 0.788) !important;
}
.s2b {
    background-color: rgb(0, 32, 134, 0.788) !important;
}
.s2c {
    background-color: rgb(0, 22, 96, 0.788) !important;
}
.s3a {
    background-color: rgba(46, 0, 90, 0.788) !important;
}
.s3b {
    background-color: rgba(73, 0, 152, 0.788) !important;
}
.s4a {
    background-color: rgba(19, 148, 114, 0.788) !important;
}
.s4b {
    background-color: rgba(13, 115, 102, 0.788) !important;
}
.s5a {
    background-color: rgba(4, 134, 139, 0.788) !important;
}
.s5b {
    background-color: rgba(16, 95, 112, 0.788) !important;
}
.mybtdb {
    font-size: 25px;
    padding: 5px 20px;
    border-radius: 11px;
}
.c-white {
    color: white !important;
}

.days_w {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 1%;
    .day_w {
        color: white;
        font-size: clamp(10px, 2vw, 20px);
        font-weight: lighter;
        padding: 1rem 0.2rem;
        border: solid 1px white;
        text-align: center;
        
        border-radius: 10px;
        background-color: rgba(12, 6, 79, 0.601);
    }
}

.day_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top:40px;
    gap:1%;

    .day {
        margin: 4% auto;
        width: 70%;
        border-radius: 100px;
        background-color: rgba(0, 26, 195, 0.318);
        color: white !important;
        text-decoration: none;
        display: flex;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        font-size: clamp(12px, 2vw, 20px);
       
        border: solid 1px white;
    }
}
.date-top{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 20%;
   text-align: center;
   justify-content: center;
   h3{
    width: 100%;
    font-size: clamp(16px, 2vw, 22px);
   }
   .mybtndate{
    width: clamp(110px, 20%, 350px) ;
    text-transform: uppercase;
    text-decoration: none;
    padding: .6em 1em;
    border-radius: 2em;
   }
}
.mydata {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mycard {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    .left-c {
        display: flex;
        text-align: center;
        width: 50%;
        .res-c{
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            
        }
        .res{
            flex-direction: row !important;
            flex-grow: 0 !important;
        }

        .data,
        .res {
            flex-grow: 1;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            padding: 1rem;
            h3 {
                font-size: 18px;
            }
            .n_res {
                
               
                align-items: center;
                justify-content: center;
               
                font-size: 40px;
            }
            h2 {
                font-size: 30px;
            }
            .day_w {
                padding: 10px;
                width: 140px;
                background-color: #ffffff;
                text-transform: capitalize;
            }
        }
        
      
    }
    .right-c {
        display: flex;
        width: 50%;
        flex-direction: column;
        .max {
            flex-grow: 1;

            height: 100%;
            padding: 15px;
            display: flex;
            //flex-direction: column;
            align-items: center;
            justify-content: space-between;
            form{
                display: flex;
                gap: 1rem;
            }
            h3 {
                font-size: 17px;
            }
            span {
                font-size: 30px;
            }
        }
    }

    .visible-on {
        background-color: #0a506e80;
        padding: 1rem;
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
        border: 1px solid black;
        align-items: center;
        button {
            color: white;
            border: none;
            background-color: rgba(86, 86, 86, 0);
            font-size: 20px;
            font-weight: bolder;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
        }
        button.off {
            color: red !important;
            text-shadow: 0 0 5px rgba(228, 228, 228, 0.95) !important;
        }
    }
}


//****************** new css *************
*{
    transition: all .3s ease-in-out;
}


$bg-p-p : rgba(111, 152, 246, 0.548);
$c-delete : rgb(228, 70, 42);
$c-update : rgb(246, 214, 73);
$c-new : rgb(84, 13, 227);


.d{
    background-color: $c-delete;
}
.m{
    background-color: $c-update;
}
.add{
    background-color: $c-new;
}




.obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;

    border-radius: 20px;
    background-color: $bg-p-p;
    .card{
        padding: .8rem;

        display: flex;
        justify-content: center;
        gap: .8rem;
        img{
            border-radius: 18px;
            width: clamp(120px, 100%, 240px);
            background-size: cover;
            background-position: center;
        }
        .info{
            display: flex;
            flex-direction: column;
            gap: .8rem;
            section{
                display: flex;
                flex-direction: column;
                gap: .6rem;
            }
            .split_i{
                display: flex;
                justify-content: space-between;
                .price{
                    font-size: clamp(17px, 3.1vw, 23px);
                    font-weight: bolder ;
                }
            }
        }
    }
    .actions, .allergiens{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        div, a{
            border-radius: 15px;
            color: white;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.256);
        }
       
    }

}